<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voody.icecast.player"
    android:versionCode="7"
    android:versionName="5.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true" >
        <activity
            android:name=".MainActivityCircle"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.voody.icecast.player.DownloadFile"
            android:label="@string/title_activity_download"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation">            
        </activity>  
        <activity 
            android:name="com.voody.icecast.player.ProcessFileSax"
            android:label="@string/title_activity_process"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity 
            android:name="com.voody.icecast.player.GenreListActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_genres">
        </activity>
        <activity 
            android:name="com.voody.icecast.player.StationListActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_stations">
        </activity>
        <activity 
            android:name="com.voody.icecast.player.StationListenActivityImg"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_listen">
        </activity>
        <activity 
            android:name="com.voody.icecast.player.ManuallyAddStation"
            android:theme="@style/AppTheme"
            android:label="@string/title_manually_add">
        </activity>
        <activity 
            android:name="com.voody.icecast.player.Settings"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name="com.voody.icecast.player.FetchStations"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_download">
        </activity>
        <service android:enabled="true" android:name="com.voody.icecast.player.StationListenService" />
        
    </application>

</manifest>